/* auth.css */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of viewport height */
  background-color: #f2f2f2;
}

.register-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  color: aquamarine;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  background-color: #d4edda;
  color: rgb(14, 12, 12);
  border: 1px solid whitesmoke;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.message, .error {
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

.message {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #1c7258;
}
